
.chatPreviewContainer {
    width: 100%;
    max-width: 600px;
    height: 10dvh;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.profilePictureContainer {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    margin: 5px;
    
    & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.nameAndMessageContainer {
    width: 90%;
    height: 90%;
    margin: auto;
    overflow-wrap: break-word;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-weight: 700;
}

.maxTextAndNameContentLimit {
    max-height: 20px;
    overflow: hidden;
}