
  .searchbarTypeInput {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    font-size: large;
  }
  
  .searchButtonAndImgContainer {
    width: 100%;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: transparent;

    &:hover{
            cursor: pointer;
            background-color: var(--accent-color-lighter);
            border-radius: 5px;

          
    }
  }

  .searchimg {
    width: 100%;
    max-width: 30px;
    height: 30px;
  }
  