.nvbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

section {
  margin-top: 36px;
  width: 98%;
  height: 100%;
  display: flex;
}
