.navbar {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px #34343433;
  width: 100%;
  position: fixed;
  margin-top: -1px;
  background-color: var(--primary-color);
  z-index: 2;
}

.generalIconsSizeContainer {
  width: 3rem;
  height: 2rem;
  border: 3px solid transparent;
  
  && svg {
    height: 100%;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  border-bottom: 3px solid rgb(35, 142, 195);
  }
}

/* first part of the navbar */
.navbarFirstPart {
  /* we'll have to modify the width of this part on desktop */
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: .6rem;
  justify-content: space-between;
}

.navbarItems {
  display: flex;
  width: 60%;
  gap: .8rem;
}

/* logo */
.logoContainer {
  width: 40%;
  height: 2rem;
}

.logoImg {
  height: 100%;
}


/* searching bar */
.searchBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  outline: none;
}


/* second part of the navbar */

.mainIconsContainer {
  display: flex;
}
