.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #34343433;
  width: 100%;
  position: sticky;
  top: 0%;
  margin-top: -1px;
  background-color: var(--primary-color);
  z-index: 2;
}

.generalIconsSizeContainer {
  /* adding positions relative due to notifications icon on the message */
  position: relative;
  width: 100%;
  max-width: 70px;
  height: 2rem;
  border: 3px solid transparent;
  
  && svg {
    height: 100%;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  border-bottom: 3px solid rgb(35, 142, 195);
  }
}

/* first part of the navbar */
.navbarFirstPart {
  /* we'll have to modify the width of this part on desktop */
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: .6rem;
  justify-content: space-between;
  margin-top: .2rem;
}

.navbarItems {
  display: flex;
  width: 70%;
  gap: .8rem;
}

/* logo */
.logoContainer {
  max-width: 100px;
  height: 2rem;
}

.logoImg {
  height: 100%;
}


/* searching bar */
.searchBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  min-width: 100px;
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  outline: none;
}


/* second part of the navbar */

.mainIconsContainer {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px){
  .navbar {
    flex-direction: row;
    justify-content: space-between;

    grid-area: navbar;
    width: 100dvw;

  }

  .mainIconsContainer {
    justify-content: end;
  }

  .logoContainer {
    max-width: 100px;
    height: 2.6rem;
  }
}
