.navbar {
  display: flex;
  flex-direction: column;
  height: 40px;
  box-shadow: 0px 0px 10px 2px #34343433;
  width: 100%;
  position: fixed;
  margin-top: -1px;
  background-color: var(--primary-color);
}

.generalIconsSizeContainer {
  width: 2rem;
  height: 2rem;

  && svg {
    height: 100%;
    width: 100%;
  }
}

/* first part of the navbar */
.navbarFirstPart {
  display: flex;
  gap: .6rem;
}

/* logo */
.logoContainer {
  height: 2rem;
}

.logoImg {
  height: 100%;
}


/* searching bar */
.searchBox {
  position: relativee;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  max-width: 600px;
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  outline: none;
}

