/* friends */
.friendsbackground {
  margin-top: 10px;
  background-color: red;
  border: 1px solid red;
  
  display: none;
}
.wrapper {
  width: 200px;
  background-color: blue;
}
.title {
  display: flex;
}
.title h1 {
  font-size: 16px;
}
.friend {
  display: flex;
  justify-content: space-between;
}
.friend img {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1024px) {
  .friendsbackground {
  }
}