.voicechats {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 1px solid red;
  width: 550px;
  max-width: 550px;
  margin-top: 1.8rem;
 
  display: none;
}


@media screen and (min-width: 1024px) {
  .voicechats {
    grid-area: voice;
    display: block;
    align-self: start;
  }
}
