.voicechats {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: transparent;
  border: 1px solid red;
  width: 350px;
 
  display: none;
}


@media screen and (min-width: 1024px) {
  .voicechats {
    grid-area: voice;
    display: block;
  }
}
