.navbar {
  display: flex;
  flex-direction: row;
  height: 40px;
  box-shadow: 0px 0px 10px 2px #34343433;
  width: 100%;
  position: fixed;
  margin-top: -1px;
  background-color: var(--primary-color);
}

.logoImg {
  height: 39px;
  margin-left: 20px;
}

/* searching bar */
.searchBox {
  position: relativee;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  height: 30px;
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  outline: none;
  margin-left: 50px;
  margin-top: 3px;
}


/* create new post */
.newPost {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin-left: 30px;
  border: 3px solid transparent;
}
.newPost:hover {
  cursor: pointer;
  border-bottom: 3px solid rgb(35, 142, 195);
}
.newPostText {
  word-break: break-all;
  width: 4ch;
  font-size: 13px;
  color: #08616d;
}
.newPostIcon {
  width: 30px;
  height: 30px;
}
/* main icons */
.mainicons {
  display: flex;
  width: 200px;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: auto;
}
.notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  padding: 6px;
}
.notificationIcons {
  width: 30px;
  height: 30px;
  margin: auto 0;
  border: 3px solid transparent;
}

.notificationIcons:hover {
  cursor: pointer;
  border-bottom: 3px solid rgb(35, 142, 195);
}
/* toggle theme*/
.switchTheme {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin-left: 10px;
  margin-right: auto;
  border: 3px solid transparent;
}

.switchThemeIcon {
  width: 30px;
  height: 30px;
}
.switchTheme:hover {
  cursor: pointer;
  border-bottom: 3px solid rgb(35, 142, 195);
}

/* settings */
.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}
.settingsIcon {
  width: 30px;
  height: 30px;
  margin-top: auto;
  border: 3px solid transparent;
}
.settingsIcon:hover {
  cursor: pointer;
  border-bottom: 3px solid rgb(35, 142, 195);
}
