.createpost {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 9px 30px;
  border: 0.1px solid rgba(128, 128, 128, 0.314);
  background-color: var(--primary-color);
  border-radius: 12px;
  outline: none;
}

/* user img,name and select publising priority */
.createpost div:nth-child(1) {
  display: flex;
}

.createpost div:nth-child(1) > img {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 80px;
}
.createpost div:nth-child(1) > span {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin-left: 5px;
}

.createpost div:nth-child(1) > span p {
  font-size: 13px;
  color: rgba(7, 7, 7, 0.564);
}
.createpost div:nth-child(1) > span p::first-letter {
  font-size: 18px;
}
.createpost div:nth-child(1) > span select {
  padding: 0px 10px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  width: 90px;
  height: 22px;
  background-color: rgba(128, 128, 128, 0.192);
  border-radius: 30px;
  font-size: 10px;
}
/* text input */
.createpost div:nth-child(2) {
  margin-top: 10px;
  width: 100%;
}

.userinput {
  width: 100%;
  height: 50px;
  border: 1px solid transparent;
  font-size: var(--medium-font);
  padding-left: 10px;
}
.userinput:focus {
  outline: none;
}

/*add tags, img, emojies, and publish-button */
.createpost div:nth-child(3) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: auto;
}
.emojies {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  gap: 1px;
  margin-top: auto;
}
.emojies img {
  height: 20px;
  width: 20px;
}
.emojies p {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-left: -17px;
  margin-bottom: 2px;
}

.buttons p:hover {
  cursor: pointer;
  box-shadow: 0px 1px 0px rgba(6, 156, 179, 0.5);
}
.buttons img:hover {
  cursor: pointer;
  box-shadow: 0px 1px 0px rgba(6, 156, 179, 0.5);
}

/* publish button */
.pusblishbutton {
  background-color: rgb(1, 180, 204);
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  margin-left: auto;
  color: white;
}
.pusblishbutton:hover {
  cursor: pointer;
  background-color: rgb(1, 163, 204);
}
