
.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.firstProfilePart {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
    height: 20dvh;

    &:hover{
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.vipText {
    margin: .4rem;
    margin-bottom: 2rem;
    color: rgb(212, 166, 14);
}

.pfpContainer{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #000;
}

.userProfilePicture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nameAndUserContainer{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.secondProfilePart {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.mainButtonsContainer {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: .2rem;
    max-width: 700px;
}

.mainButtons {
    width: 30%;
    height: 2rem;
    max-width: 200px;
    min-width: max-content;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    background: var(--primary-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover{
        background-color: var(--accent-color);
    }
}

.editProfileButton {
    width: 30%;
    height: 5rem;
    margin: 0 auto;
    border-radius: 5px;
}

@media screen and (min-width: 1024px){
    .firstProfilePart {
        width: 99%;
        height: 25dvh;
    }

    .pfpContainer{
        width: 7rem;
        height: 7rem;

    }

    .secondProfilePart {
        width: 99%;
        flex-direction: row;
        align-items: center;
    }

    .mainButtonsContainer {
        width: 90%;

        & button{
            height: 4rem;
        }
    }

    .editProfileButton{
        height: 4rem;
        margin: 0;
        max-width: 250px;
    }
}