/* login */

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  font-family: var(--body-font);
}

.wrapper {
  display: flex;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  background-color: rgba(190, 199, 206, 0.185);
  border-radius: 32px;
  box-shadow: 8px 13px 20px 0px rgba(37, 107, 91, 0.199);
}

.title {
  margin-top: 60px;
  margin-bottom: 15px;
  font-family: var(--header-font);
  font-weight: bold;
}

/* loginForm */

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  height: 300px;
}
.input {
  width: 90%;
  margin: 0 auto;
  height: 20px;
  border-radius: 13px;
  padding: 12px 8px;
  background-color: inherit;
  border: 3px solid rgb(216, 204, 231);
  outline: none;
  font-size: medium;
}
.input:focus {
  font-size: medium;
  font-weight: bold;
  outline: none;
  border: 3px solid transparent;
  color: rgb(0, 0, 0);
  background-color: rgba(5, 151, 134, 0.267);
}
.labels {
  margin-right: auto;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, 0.8);
}
.recoverPassword {
  margin-right: 20px;
  margin-left: auto;
  margin-top: 7px;
  font-size: var(--small-font);
  text-decoration: none;
  color: rgb(13, 13, 247);
}
.recoverPassword:hover {
  text-decoration: underline;
}

.loginBtn {
  width: 40%;
  max-width: 262px;
  height: 40px;
  background-color: rgb(5, 49, 75);
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: transparent;
  border-radius: 17px;
  margin-top: 30px;
  font-family: var(--header-font);
  transition: background-color 150ms;
}
.loginBtn:hover {
  cursor: pointer;
  background-color: rgb(47, 154, 216);
}

/* login with facebook*/

.loginFacebook {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
  max-width: 262px;
  height: 40px;
  background-color: #4267b2;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: transparent;
  border-radius: 17px;
  margin-top: 10px;
  font-family: var(--header-font);
  transition: background-color 150ms;
}

.loginFacebook:hover {
  background-color: #142851;
  cursor: pointer;
}

.fbimg {
  margin-top: 5px;
  margin-right: 5px;
}

/* login with google */

.loginGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
  max-width: 262px;
  height: 40px;
  background-color: #e47734;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: transparent;
  border-radius: 17px;
  margin-top: 10px;
  font-family: var(--header-font);
  transition: background-color 150ms;
}
.loginGoogle:hover {
  cursor: pointer;
  background-color: #683516;
}
.googleImg {
  margin-left: -33px;
  margin-top: 5px;
}
/* Register Account */

.register {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.link {
  text-decoration: none;
  color: rgb(13, 13, 247);
}
.link:hover {
  text-decoration: underline;
}
