.mainButtons {
    width: 30%;
    height: 2rem;
    max-width: 200px;
    min-width: max-content;
    border-radius: 5px;
}

.remove {
    display: none;
}

.showFollwersCard {
    height: 100dvh; /* Ajusta para ocupar toda la vista vertical */
    width: 100%; /* Ocupa el 100% del ancho */
    position: absolute; /* Posicionamiento absoluto */
    top: 0; /* Comienza desde la parte superior */
    left: 0; /* Comienza desde el lado izquierdo */
    z-index: 999; /* Asegura que esté por encima de otros elementos */
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1023px;
}

.nameAndBackBtnContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: .6rem;
    position: relative;

    & svg {
        position: absolute;
        left: 0; 
    }

}
.titleText {
    font-size: 1.6rem;
    font-weight: 700;
}