
.unreadFollowersNotificationContainer {
    position: absolute;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  max-width: 25px;
  background-color: red;

  top: -10%;
  left: 70%;

  && p {
    text-align: center;
    color: var(--primary-color);
  }
}
